body{
	color: green;
	font-family: Sriracha;
	text-align: left;
	size: 55px;
	background-color: rgba(62, 91, 56, 0.5);
	margin: 30px 400px;
}



#title {
	text-align: center;
}



#description{
	text-align: center;
}






































